#login {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
  }
  
  .input-container {
    margin-bottom: 15px;
    width: 100%; 
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100px;
    margin-left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    align-self: center;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-text {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  