/* CSS for a generic rectangluar container */

.MiddleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}